.vkuiCalendarHeader__nav-icon{ 
    color: #ED4344 !important; 
  } 
 
  .CustomSelectOption__selectedIcon { 
   color: #ED4344 !important; 
  } 
 
  .vkuiCalendarDay--today .vkuiCalendarDay__day-number::after{ 
    border-bottom: 2px solid transparent !important; 
  } 
 
  .vkuiCalendarDay--today .vkuiCalendarDay__day-number { 
    border: 2px solid #ED4344 !important; 
    background-color: #ED4344; 
    color: #fff; 
    border-radius: 50%; 
    height: 34px; 
    width: 25px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding-left: 9.5px; 
    padding-bottom: 0.5px; 
  }